@font-face {
    font-family: 'Baloo';
    src: url(../fonts/baloo-bhaijaan-regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

a {
    text-decoration: none !important;
}

ul, li {
    list-style: none !important;
}

tr, th, td{
    font-family: 'Montserrat', sans-serif;
}

.bg-vermelho{
    background-color: #9b0d02;
}
.bg-verde{
    background-color:  #007c34;
}
.bg-amarelo{
    background-color: #dfcc3e;
}

#conteudo{
    margin-top: 11%;
}

@media screen and (max-width: 1150px){
    #conteudo{
        margin-top: 13%;
    }
}
@media screen and (max-width: 1025px){
    #conteudo{
        margin-top: 15%;
    }
}
@media screen and (max-width: 820px){
    #conteudo{
        margin-top: 17%;
    }
}
@media screen and (max-width: 745px){
    #conteudo{
        margin-top: 22%;
    }
}
@media screen and (max-width: 555px){
    #conteudo{
        margin-top: 26%;
    }
}
@media screen and (max-width: 400px){
    #conteudo{
        margin-top: 30%;
    }
}