@font-face {
    font-family: 'Baloo';
    src: url(../fonts/baloo-bhaijaan-regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

a {
    text-decoration: none !important;
}

ul, li {
    list-style: none !important;
}

tr, th, td{
    font-family: 'Montserrat', sans-serif;
}

.bg-vermelho{
    background-color: #9b0d02;
}
.bg-verde{
    background-color:  #007c34;
}
.bg-amarelo{
    background-color: #dfcc3e;
}

#conteudo{
    margin-top: 130px;
}

@media screen and (max-width: 576px){
    #conteudo{
        margin-top: 90px;
    }
}