@media screen and (max-width: 995px){
    .texto-make{
        font-size: 25px;
    }
}

@media screen and (max-width: 500px){
    .texto-make{
        font-size: 22px;
    }

    .secao_cards .card-body p{
        font-size: 50px;
        font-weight: 900;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    }

    .box_depoimentos{
        border-radius: 30px;
        padding: 30px;
    }

    /* ALTERA ORDEM DA COLUNA DOS MODALS DE DEPOIMENTO  */
    .initial-mobile{
        order: -1;
    }

    .overlay{
        overflow: scroll;
    }
}

@media (max-width: 768px) {
    .card-deck {
        -ms-flex-flow: column wrap !important;
        flex-flow: column wrap !important;
    }
}
@media (min-width: 576px) {
    .modal_covid{
        max-width: 700px;
    }
}


