.secao_depoimentos h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}

.box_depoimentos{
    background-color: #E8E6E6;
    border-radius: 50px;
    padding: 40px;
}

.card_depoimentos{
    padding: 10px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.3) 0px 6px 16px 2px;
    transition: all .5s ease-out;
}

.box_depoimentos .card_depoimentos:hover{
    box-shadow: rgba(0,0,0,0.5) 12px 12px 32px;
}

.img_card_depoimentos{
    width: 100%;
    height: auto;
}

.titulo_card_depoimentos{
    font-family: 'Montserrat', sans-serif;   
    font-size: 20px;
    font-weight: 600; 
}

.conteudo_card_depoimentos{
    padding: max(20px, 2vh) 10px 0 10px;
}
