
.secao_cards .bg-vermelho{
    background-color: #9b0d02;
}
.secao_cards .bg-verde{
    background-color:  #007c34;
}
.secao_cards .bg-amarelo{
    background-color: #dfcc3e;
}
.secao_cards .card-body h5{
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.secao_cards .card-body p{
    font-size: 70px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.secao_cards h4{
    font-size: 26px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.secao_cards p{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}